@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: solid;
    list-style: none;
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #252661;
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.flotante_container{
    display: block;
    margin: auto;
    align-items: center;
    float: right;
    padding: 25px 25px;
    border-radius: 55px;
    position: fixed;
    left: 0px;
    top: 30%;
}
.flotante img{
    display: block;
    padding: 10px;
    justify-content: space-between;
    width: 90px;
    height: 90px;
}

.tab-content {
    display: none;
    text-align: center;
}

.tab-content.active {
    display: block;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction:inherit;
    }

    nav ul li {
        margin: 10px 10px;
        align-items: center;
    }
    .flotante_container{
        padding: 1px;
    }
    .flotante img{
        visibility: hidden 50%;
        max-width: 75px;
        max-height: 75px;
    }
}